body {
    background: linear-gradient(135deg, #30f012, #4cd3e5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
    margin: 0;
}

#weather-container {
    background: rgba(255, 255, 255, 0.2);
    max-width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

h2, label, p {
    color: #fff;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 1px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid white;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #8b48d7;
}

button {
    background: #8b48d7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 25px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s ease-in-out;
}

button:hover {
    background: #5c31a5;
    transform: translateY(-5px);
}

#temp-div p {
    font-size: 64px;
    margin-top: -20px;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#weather-info {
    font-size: 22px;
    margin-bottom: 20px;
}

#weather-icon {
    width: 220px;
    height: 220px;
    margin: 0 auto 15px; 
    display: none;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


#hourly-forecast {
    margin-top: 40px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
    font-size: 14px;
    transition: transform 0.2s ease-in-out;
}

.hourly-item:hover {
    transform: scale(1.1);
}

.hourly-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

#hourly-heading {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

